/*Defining Basic Color Schema*/

$navy-blue: #37507e;
$navy-blue-opacity: #37507ef2;
$light-blue: #47b2e4;
$dark-blue: #209dd8;
$pure-white: #ffffff;
$light-grey: #f3f5fa;
$dark-grey: #3d3939;
$light-black: rgba(70, 65, 65, .9);


